* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-weight: 500;
  font-family: "Inter", sans-serif !important;
}

.app {
  background-color: #fafafa;
  min-height: 100vh;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.uesr_pos {
  border: 1px solid red;
}

@media screen and (min-width: 900px) {
  .user_pos {
    position: fixed;
    left: 90px;
  }
}

progress {
  height: 15px;
  border-radius: 3px;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 3px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.loading {
  top: 60%;
  left: 30%;
  margin-bottom: 1000px;
}
.active {
  border-bottom: 3px solid orangered;
}
.nav-link {
  border-bottom: 3px solid none;
  font-size: 1.7rem !important;
  cursor: pointer;
}
.modal-content {
  top: -117px !important;
  box-shadow: 3px 10px 41px #545b62;
  border: 1px solid transparent !important;
}

.nav-item {
  transition: all 0.5s !important;
}
